@use "../util" as u;


.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: u.rem(23);


    .card__subtitle {
        justify-self: start;

    }
    .card__count, .card__change{
        align-self: end;
    }
    .card__count{
        margin-bottom: 0;
        justify-self: start;

    }
    img,.card__change {
        justify-self: end;

    }
}